/*
Template for IMA's Creative Coding Lab 

Project A: Generative Creatures
CCLaboratories Biodiversity Atlas 
*/

body {
    background-color: rgb(26, 50, 32);
    color: rgb(135, 245, 125);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

/* title */
#title-wrapper {
    text-align: center;
}

.headline {
    font-size: 3em;
    font-family: "Doto";
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 60px;
}

/* main content */
#main-wrapper {
    width: 800px;
    position: relative;
    margin: auto;
}

.black {
    color: black;
}

.red {
    color: rgb(212, 1, 16);
}

.green {
    color: rgb(77, 246, 10);
}

.yellow {
    color: GoldenRod;
}

.two-columns {
    display: flex;
}

.left {
    width: 50%;
    padding: 0px 10px 0px 0px;
}

.right {
    width: 50%;
    padding: 0px 0px 0px 10px;
}

#footer {
    text-align: center;
    font-size: 0.7em;
    margin-top: 60px;
    padding-bottom: 30px;
}

/* home button */
#home a {
    position: fixed;
    right: 15px;
    top: 15px;
    padding: 5px 10px;
    color: rgb(203, 247, 186);
    border: solid rgb(144, 253, 151) 0.5px;
    font-size: 0.6em;
    text-decoration: none;
}

#home a:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}

/* p5.js sketch */
canvas {
    display: block;
}

#p5-canvas-container {
    margin: auto;
    width: 800px;
}